In [6]:
import csv
import pandas as pd
import numpy as np

In [7]:
dna_data = "raw_data/DUVALGENOME.csv"

In [9]:
dna_data_df = pd.read_csv(dna_data, low_memory=False)
dna_data_df.head()

         rsid chromosome  position genotype Unnamed: 4
0   rs4477212          1     82154       AA        NaN
1   rs3094315          1    752566       AG        NaN
2   rs3131972          1    752721       AG        NaN
3  rs12124819          1    776546       --        NaN
4  rs11240777          1    798959       AG        NaN

In [10]:
clean_dna_df = dna_data_df[["rsid", "chromosome", "position", "genotype"]]
clean_dna_df.head()

         rsid chromosome  position genotype
0   rs4477212          1     82154       AA
1   rs3094315          1    752566       AG
2   rs3131972          1    752721       AG
3  rs12124819          1    776546       --
4  rs11240777          1    798959       AG

In [11]:
drop_na_df = clean_dna_df.dropna()

In [12]:
drop_na_df.count()

rsid          963038
chromosome    963038
position      963038
genotype      963038
dtype: int64